<html>
    <head>
        <title>Soundcork Admin</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/admin.css">
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">
    </head>
    <body>
        <div class="left-sidebar-grid">
            <header class="header">
                Soundcork:  Can't Brick Us
            </header>
    <main class="main-content">

        {% for id, account in accounts.items() %}
        <h2>Account {{account.id}}</h2>
        <table>
            <thead>
                <th>Device</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Marge</th>
                <th>Online</th>
                <th>In Soundcork</th>
                <th>Reachable</th>
                <th>Action</th>
            </thead>
            <tbody></tbody>
            {% for device in account.devices %}
                <tr>
                    <td>{{device.id}}</td>
                    <td>{{device.ip}}</td>
                    <td>{{device.name}}</td>
                    <td>{{device.marge_server}}</td>
                    <td>{{device.online}}</td>
                    <td>{{device.in_soundcork}}</td>
                    <td>{{device.reachable}}</td>
                    <td>
                        {% if not device.in_soundcork %}
                        (add)
                        {% elif device.reachable and device.marge_server != "Soundcork"%}
                        <form action="/admin/switchToSoundcork/{{device.id}}" method="POST">
                            <input type="submit" value="Switch to Soundcork">
                        </form>
                        {% endif %}
                    </td>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </main>
    <section class="left-sidebar">
        <img src="/static/images/soundcork.png" alt="Soundcork logo">
    </section>
    <footer class="footer"></footer>
</div>

</body>
</html>