<html>
    <head>
        <title>Soundcork waiting...</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/admin.css">
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">
        <meta http-equiv="refresh" content="10; url=/admin/wait/{{device_id}}/{{elapsed + 10}}">
    </head>
    <body>
        <div class="left-sidebar-grid">
            <header class="header">
                Soundcork:  Can't Brick Us
            </header>
    <main class="main-content">
        waiting {{elapsed}} of 120 seconds for device to restart...
    </main>
    <section class="left-sidebar">
        <img src="/static/images/soundcork.png" alt="Soundcork logo">
    </section>
    <footer class="footer"></footer>
</div>

</body>
</html>